.bgimage{
	background-image: url('../img/reptiles.jpg');
	background-position: center center;
	background-size: cover;
	height: 200px;

}
.icon {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}
.warning {
	text-align: center;
	color: purple;
	font-style: italic;
}
footer{
	font-style: italic;
}
.services section {
  text-align:	 center;
}
@media (min-width: 1200px){
	h3 {
		margin-top: 0px;
	}
	.services section {
		text-align: left;
	}
}